<?xml version="1.0"?>
<config>
    <modules>
        <Vits_Commissions>
            <version>0.1.0</version>
        </Vits_Commissions>
    </modules>
    <frontend>
        <routers>
            <commissions>
                <use>standard</use>
                <args>
                    <module>Vits_Commissions</module>
                    <frontName>commissions</frontName>
                </args>
            </commissions>
        </routers>
        <layout>
            <updates>
                <commissions>
                    <file>commissions.xml</file>
                </commissions>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<commissions>
				<use>admin</use>
				<args>
					<module>Vits_Commissions</module>
					<frontName>commissions</frontName>
				</args>
			</commissions>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<commissions module="commissions">
				<title>Commissions</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="commissions">
						<title>Commissions Manager</title>
						<sort_order>0</sort_order>
						<action>commissions/adminhtml_commissions</action>
					</items>
				</children>
			</commissions>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Vits_Commissions>
							<title>Commissions Module</title>
							<sort_order>10</sort_order>
						</Vits_Commissions>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<commissions>
					<file>commissions.xml</file>
				</commissions>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <commissions>
                <class>Vits_Commissions_Model</class>
                <resourceModel>commissions_mysql4</resourceModel>
            </commissions>
            <commissions_mysql4>
                <class>Vits_Commissions_Model_Mysql4</class>
                <entities>
                    <commissions>
                        <table>commissions</table>
                    </commissions>
                </entities>
            </commissions_mysql4>
        </models>
        <resources>
            <commissions_setup>
                <setup>
                    <module>Vits_Commissions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </commissions_setup>
            <commissions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </commissions_write>
            <commissions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </commissions_read>
        </resources>
        <blocks>
            <commissions>
                <class>Vits_Commissions_Block</class>
            </commissions>
        </blocks>
        <helpers>
            <commissions>
                <class>Vits_Commissions_Helper</class>
            </commissions>
        </helpers>
    </global>
</config>