<?xml version="1.0"?>
<config>
    <modules>
        <Vits_Transactions>
            <version>0.1.0</version>
        </Vits_Transactions>
    </modules>
    <frontend>
        <routers>
            <transactions>
                <use>standard</use>
                <args>
                    <module>Vits_Transactions</module>
                    <frontName>transactions</frontName>
                </args>
            </transactions>
        </routers>
        <layout>
            <updates>
                <transactions>
                    <file>transactions.xml</file>
                </transactions>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<transactions>
				<use>admin</use>
				<args>
					<module>Vits_Transactions</module>
					<frontName>transactions</frontName>
				</args>
			</transactions>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<transactions module="transactions">
				<title>Transactions</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="transactions">
						<title>Transactions Manager</title>
						<sort_order>0</sort_order>
						<action>transactions/adminhtml_transactions</action>
					</items>
				</children>
			</transactions>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Vits_Transactions>
							<title>Transactions Module</title>
							<sort_order>10</sort_order>
						</Vits_Transactions>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<transactions>
					<file>transactions.xml</file>
				</transactions>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <transactions>
                <class>Vits_Transactions_Model</class>
                <resourceModel>transactions_mysql4</resourceModel>
            </transactions>
            <transactions_mysql4>
                <class>Vits_Transactions_Model_Mysql4</class>
                <entities>
                    <transactions>
                        <table>transactions</table>
                    </transactions>
                </entities>
            </transactions_mysql4>
        </models>
        <resources>
            <transactions_setup>
                <setup>
                    <module>Vits_Transactions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </transactions_setup>
            <transactions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </transactions_write>
            <transactions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </transactions_read>
        </resources>
        <blocks>
            <transactions>
                <class>Vits_Transactions_Block</class>
            </transactions>
        </blocks>
        <helpers>
            <transactions>
                <class>Vits_Transactions_Helper</class>
            </transactions>
        </helpers>
    </global>
</config>