<!--@subject Welcome, {{var customer.name}}! @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Easilifestyle"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Dear {{htmlescape var=$customer.name}}</strong>,<br/></p>
                            <p>Thank you for registering with the Easilifestyle website.<br/></p>
						  <p>Now all you have to do is <a href="{{store url=""}}/customer/account" style="color:#1E7EC8;">log on</a> to our store with the following details to start your online shopping!</p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5;">
                                E-mail: {{var customer.email}}<br/>
                                Password: {{htmlescape var=$customer.password}}<p>

                            <p>We wish to highlight certain key features of the website for your best shopping experience:</p>

                            <ul>
                                <li>Permanent Cart - Any products added to your online cart remain there until you remove them, or check out.</li>
                                <li>Address Book -  We can now deliver your products to another address other than yours! This is perfect for sending gifts.</li>
                                <li>Order History - View a history of purchases that you have made with us.</li>
                                <li>Product Reviews - Share your opinions on products with our other customers.</li>
                                
                            </ul>
							<table width="100%" border="0" cellpadding="10" cellspacing="0" bgcolor="#D8ECF5">
							  <tr>
							    <td><span style="font-size: 24px;">Discount Voucher Code: NEWM10</span> <br>
							      <br>
						        (Fill-in this code for $10 discount at the checkout page when your cart is equaled or more than $50.)</td>
						      </tr>
						  </table>
		          <p>For help with any of our online services, please email to: <a href="mailto:sales@easilifestyle.com" style="color:#1E7EC8;">sales@easilifestyle.com</a></p>                        
                            <p>Sincerely,<br/>
							Easilifestyle Store</p>
							<br/>
							<br/>
							<strong>Confidentiality Notice</strong> <br/>
							<em>This e-mail is from Easilifestyle Store and is meant for the named addressee.  Internet communications cannot be guaranteed to be secure or error-free as information could be intercepted, corrupted, lost, or contain viruses. The sender therefore cannot accept liability for any errors or omissions in the context of this message.</em>
													
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
