<?xml version="1.0"?>
<config>
    <modules>
        <Vits_Redemption>
            <version>0.1.0</version>
        </Vits_Redemption>
    </modules>
    <frontend>
        <routers>
            <redemption>
                <use>standard</use>
                <args>
                    <module>Vits_Redemption</module>
                    <frontName>redemption</frontName>
                </args>
            </redemption>
        </routers>
        <layout>
            <updates>
                <redemption>
                    <file>redemption.xml</file>
                </redemption>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<redemption>
				<use>admin</use>
				<args>
					<module>Vits_Redemption</module>
					<frontName>redemption</frontName>
				</args>
			</redemption>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<redemption module="redemption">
				<title>Redemption</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="redemption">
						<title>Redemption Product Order</title>
						<sort_order>0</sort_order>
						<action>redemption/adminhtml_redemption</action>
					</items>
				</children>
			</redemption>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Vits_Redemption>
							<title>Redemption Module</title>
							<sort_order>10</sort_order>
						</Vits_Redemption>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<redemption>
					<file>redemption.xml</file>
				</redemption>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <redemption>
                <class>Vits_Redemption_Model</class>
                <resourceModel>redemption_mysql4</resourceModel>
            </redemption>
            <redemption_mysql4>
                <class>Vits_Redemption_Model_Mysql4</class>
                <entities>
                    <redemption>
                        <table>redemption</table>
                    </redemption>
                </entities>
            </redemption_mysql4>
        </models>
        <resources>
            <redemption_setup>
                <setup>
                    <module>Vits_Redemption</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </redemption_setup>
            <redemption_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </redemption_write>
            <redemption_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </redemption_read>
        </resources>
        <blocks>
            <redemption>
                <class>Vits_Redemption_Block</class>
            </redemption>
        </blocks>
        <helpers>
            <redemption>
                <class>Vits_Redemption_Helper</class>
            </redemption>
        </helpers>
    </global>
</config>