<?xml version="1.0"?>
<config>
    <modules>
        <Vits_Groupsales>
            <version>0.1.0</version>
        </Vits_Groupsales>
    </modules>
    <frontend>
        <routers>
            <groupsales>
                <use>standard</use>
                <args>
                    <module>Vits_Groupsales</module>
                    <frontName>groupsales</frontName>
                </args>
            </groupsales>
        </routers>
        <layout>
            <updates>
                <groupsales>
                    <file>groupsales.xml</file>
                </groupsales>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<groupsales>
				<use>admin</use>
				<args>
					<module>Vits_Groupsales</module>
					<frontName>groupsales</frontName>
				</args>
			</groupsales>
        </routers>
    </admin>
    <adminhtml>
		<!--<menu>
			<groupsales module="groupsales">
				<title>Groupsales</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="groupsales">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>groupsales/adminhtml_groupsales</action>
					</items>
				</children>
			</groupsales>
		</menu>
		--><acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Vits_Groupsales>
							<title>Groupsales Module</title>
							<sort_order>10</sort_order>
						</Vits_Groupsales>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<groupsales>
					<file>groupsales.xml</file>
				</groupsales>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <groupsales>
                <class>Vits_Groupsales_Model</class>
                <resourceModel>groupsales_mysql4</resourceModel>
            </groupsales>
            <groupsales_mysql4>
                <class>Vits_Groupsales_Model_Mysql4</class>
                <entities>
                    <groupsales>
                        <table>groupsales</table>
                    </groupsales>
                </entities>
            </groupsales_mysql4>
        </models>
        <resources>
            <groupsales_setup>
                <setup>
                    <module>Vits_Groupsales</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </groupsales_setup>
            <groupsales_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </groupsales_write>
            <groupsales_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </groupsales_read>
        </resources>
        <blocks>
            <groupsales>
                <class>Vits_Groupsales_Block</class>
            </groupsales>
        </blocks>
        <helpers>
            <groupsales>
                <class>Vits_Groupsales_Helper</class>
            </groupsales>
        </helpers>
    </global>
</config>