<?xml version="1.0"?>
<config>
    <modules>
        <Vits_Orphanpool>
            <version>0.1.0</version>
        </Vits_Orphanpool>
    </modules>
    <frontend>
        <routers>
            <orphanpool>
                <use>standard</use>
                <args>
                    <module>Vits_Orphanpool</module>
                    <frontName>orphanpool</frontName>
                </args>
            </orphanpool>
        </routers>
        <layout>
            <updates>
                <orphanpool>
                    <file>orphanpool.xml</file>
                </orphanpool>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<orphanpool>
				<use>admin</use>
				<args>
					<module>Vits_Orphanpool</module>
					<frontName>orphanpool</frontName>
				</args>
			</orphanpool>
        </routers>
    </admin>
    <adminhtml>
		<!--<menu>
			<orphanpool module="orphanpool">
				<title>Orphanpool</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="orphanpool">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>orphanpool/adminhtml_orphanpool</action>
					</items>
				</children>
			</orphanpool>
		</menu>
		--><acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Vits_Orphanpool>
							<title>Orphanpool Module</title>
							<sort_order>10</sort_order>
						</Vits_Orphanpool>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<orphanpool>
					<file>orphanpool.xml</file>
				</orphanpool>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <orphanpool>
                <class>Vits_Orphanpool_Model</class>
                <resourceModel>orphanpool_mysql4</resourceModel>
            </orphanpool>
            <orphanpool_mysql4>
                <class>Vits_Orphanpool_Model_Mysql4</class>
                <entities>
                    <orphanpool>
                        <table>orphan_pool</table>
                    </orphanpool>
                </entities>
            </orphanpool_mysql4>
        </models>
        <resources>
            <orphanpool_setup>
                <setup>
                    <module>Vits_Orphanpool</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orphanpool_setup>
            <orphanpool_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orphanpool_write>
            <orphanpool_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orphanpool_read>
        </resources>
        <blocks>
            <orphanpool>
                <class>Vits_Orphanpool_Block</class>
            </orphanpool>
        </blocks>
        <helpers>
            <orphanpool>
                <class>Vits_Orphanpool_Helper</class>
            </orphanpool>
        </helpers>
    </global>
</config>