<?xml version="1.0"?>
<config>
    <modules>
        <Vits_Affiliatecommission>
            <version>0.1.0</version>
        </Vits_Affiliatecommission>
    </modules>
    <frontend>
        <routers>
            <affiliatecommission>
                <use>standard</use>
                <args>
                    <module>Vits_Affiliatecommission</module>
                    <frontName>affiliatecommission</frontName>
                </args>
            </affiliatecommission>
        </routers>
        <layout>
            <updates>
                <affiliatecommission>
                    <file>affiliatecommission.xml</file>
                </affiliatecommission>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<affiliatecommission>
				<use>admin</use>
				<args>
					<module>Vits_Affiliatecommission</module>
					<frontName>affiliatecommission</frontName>
				</args>
			</affiliatecommission>
        </routers>
    </admin>
    <adminhtml>		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Vits_Affiliatecommission>
							<title>Affiliatecommission Module</title>
							<sort_order>10</sort_order>
						</Vits_Affiliatecommission>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<affiliatecommission>
					<file>affiliatecommission.xml</file>
				</affiliatecommission>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <affiliatecommission>
                <class>Vits_Affiliatecommission_Model</class>
                <resourceModel>affiliatecommission_mysql4</resourceModel>
            </affiliatecommission>
            <affiliatecommission_mysql4>
                <class>Vits_Affiliatecommission_Model_Mysql4</class>
                <entities>
                    <affiliatecommission>
                        <table>affiliatecommission</table>
                    </affiliatecommission>
                </entities>
            </affiliatecommission_mysql4>
        </models>
        <resources>
            <affiliatecommission_setup>
                <setup>
                    <module>Vits_Affiliatecommission</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </affiliatecommission_setup>
            <affiliatecommission_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </affiliatecommission_write>
            <affiliatecommission_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </affiliatecommission_read>
        </resources>
        <blocks>
            <affiliatecommission>
                <class>Vits_Affiliatecommission_Block</class>
            </affiliatecommission>
        </blocks>
        <helpers>
            <affiliatecommission>
                <class>Vits_Affiliatecommission_Helper</class>
            </affiliatecommission>
        </helpers>
    </global>
</config>